<div class="text-layout">
    <h1>DecimalPipe and porcentaje</h1>
    <p>
        Basic angular pipes - on common module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">   
        <p-card header="Ventas netas"
                subheader="del presente ano">
                <i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="p-col-4">   
        <p-card header="Ventas brutas"
                subheader="del presente ano">
                <i class="pi pi-dollar"></i>
            {{ ventasNetas | currency:'USD':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="p-col-4">   
        <p-card header="Ganancia porcentual"
                subheader="del presente ano">
                <i class="pi pi-dollar"></i>
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
</div>