<div class="text-layout">
    <h1>Pipes no comunes</h1>
    <p>
        Basic angular pipes - on common module
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{ nombre }}, es un placer {{ genero | i18nSelect:invitacionMapa }} a nuestro evento.</p>
            <button pButton type="button" (click)="cambiarNombre()" label="Cambiar nombre" icon="pi pi-check" class="p-button-info"></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{ clientes.length | i18nPlural:clienteMapa }}</p>
            <button pButton type="button" (click)="borrarCliente()" label="Borrar cliente" icon="pi pi-check" class="p-button-info"></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clientes }}</pre>

            <b>Slice:1:2</b>
            <pre>{{ clientes | slice:1:2 }}</pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul >
                <li *ngFor="let item of persona | keyvalue">
                    {{ item.key }}: {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="json Pipe" [toggleable]="true">
           <pre>{{ heroe | json }}</pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="json Pipe" [toggleable]="true">
           <pre>{{ miObservable | async }}</pre>
           
           <pre *ngIf="!(valorPromesa | async)">resolviendo promesa</pre>
           <pre>{{ valorPromesa | async }}</pre>
        </p-fieldset>
    </div>
</div>

